@import './base.css';

button {
  width: 20vw;
  height: 10vw;
  background: #36d;
  color: #fff;
  font-size: 4vw;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
  margin: 1px;
}
button:active {
  opacity: 0.5;
}